<app-header (featureSelected)="onNavigate($event)"></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-recipes *ngIf="loadedFeature==='recipe'"></app-recipes>
      <app-shopping-list *ngIf="loadedFeature==='shopping-list'"></app-shopping-list>
    </div>
  </div>
</div>


<!-- <input type="text" class="fom-control" [(ngModel)]="username"> 
<p>{{username}}</p>
<button class="btn btn-primary" 
[disabled] ="username ===''"
(click)="username = ''">Reset User</button>
<button class="btn btn-primary" (click)="showSecret = !showSecret">Display Details </button> 
<button class="btn btn-primary" (click)="showDetails()">Display Details </button>
<p *ngIf="showSecret">Details</p>
<div *ngFor="let arrItem of arr">{{arrItem}}</div> -->

